{% extends 'base.html.twig' %}
{% block title %}Gestion des environnements{% endblock %}
{% block body %}
    <h1>Gestion des environnements</h1>

    <p class="text-end">
        <a href="{{ path('app_admin_environnement_new') }}" class="btn btn-primary">
            Ajouter un environnement
        </a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for environnement in environnements %}
            <tr>
                <td>{{ environnement.nom }}</td>
                <td>
                    <a href="{{ path('app_admin_environnement_edit', {'id': environnement.id}) }}" 
                       class="btn btn-secondary btn-sm">Editer</a>
                    <a href="{{ path('app_admin_environnement_delete', {'id': environnement.id}) }}" 
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ environnement.nom }} ?')">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun environnement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}