{% extends "basefront.html.twig" %}

{% block body %}
<h2>Derniers voyages</h2>
<div class="row">
    {% for visite in visites %}
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ visite.ville }} - {{ visite.pays }}</h5>
                <p class="card-text">Note : {{ visite.note }}/20</p>
                <p class="card-text">Date : {{ visite.date|date('d/m/Y') }}</p>
                <a href="{{ path('detail_voyage', {id: visite.id}) }}" class="btn btn-primary">Voir le détail</a>
            </div>
        </div>
    </div>
    {% else %}
    <p>Aucun voyage pour l'instant</p>
    {% endfor %}
</div>
{% endblock %}